header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  border-bottom: .3rem solid #666;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: lightblue;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: darkgrey;
  font-size: 18px;
}
