header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  align-items: end;
  border-bottom: .6rem solid darkgrey;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 4rem;
  color: purple;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: none;
  color: orange;
  font-size:
}
